@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;300;400;500&display=swap');

$font-default: 'Poppins', sans-serif;
$color-website: #42009e;
$color-website-hover: #818cf8;
$color-default: #f6f8ff;
$color-input: #ffff;
$color-font: #42009e;
$boxshadow-default: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);