@import "./variaveis";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-default;
}

.btn-default{
    background-color: $color-website;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: $color-default;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow: $boxshadow-default;
    transition: background-color 0.3s ease;
}

.btn-defaul:hover{
    background-color: $color-website-hover;

}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $color-website;
}

#form_container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: $color-default;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#form_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form_title{
    font-weight: 500;
    color: $color-font;
    position: relative;
}

#form_title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 30px;
    background-color: $color-website ;
    left: 0;
    bottom: 0;
}

#form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    height: 100%;
}

#input_container{
    display: grid;
    gap: 24px;
}

.form-label{
    font-size: 12px;
    color: $color-font;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    background-color: $color-default;
    border-radius: 8px;
    box-shadow: $boxshadow-default;
}

.input-field i{
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color: $color-font;
}

.form-control{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.input-field .password-icon:hover{
    cursor: pointer;
    color: $color-font;
}

.form-control:focus{
    outline: none;

}

.input-box .input-field:focus-within{
    outline: 2px solid $color-website;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    color: $color-font;
}

.radio-container{
    grid-column: span 2;
}

#gender_inputs{
    display: flex;
    gap: 20px;
}

.radio-box{
    display: flex;
    gap: 4px;
    align-items: center;
}

// input[type="radio"] {
//     display: inline-block !important;
//     visibility: visible !important;
//     width: 20px !important;
//     height: 20px !important;
//     accent-color: red !important;
// }